@using CheeseMVC.Controllers
@{
    Layout = null;
}

<h1>Remove Cheese</h1>

<form method="post">
    <select name="name">
      @foreach(KeyValuePair<string,string> cheese in ViewBag.cheeses)
    {
      <option name="name">@cheese</option>  
    }
    </select>
    <input type="submit" value="Remove Cheese" />
</form>