@using CheeseMVC.Controllers
@{
    Layout = null;
}

<h1>Remove Cheese</h1>

<form method="post">
    <select name="cheeseName" id="cheeseName">
      @foreach(KeyValuePair<string,string> cheese in ViewBag.cheeses)
    {
      <option value="@cheese.Key">@cheese</option> 
    } 
    </select>   
    <input type="submit" value="Remove Cheese" />
</form>